/*ルート定義*/
:root {
    /*フォント定義*/
    --font-primary:'Noto Serif JP', serif; /*和風フォント*/
    --font-secondary:'Kozuka Mincho Pr6N', serif; /*和風フォント*/
    --font-body: 'Noto Sans JP', serif; /*汎用的なフォント*/
    /*カラー定義*/
    --color-background: #fc9d92; /*背景*/
    --color-box: #fff8f0; /*枠内の背景*/
    --color-headr: #8b3a3a; /*ヘッダーの背景*/
    --color-bottm: #e38c00; /*ボタンの色*/
    --color-bottm-hover: #ff6347; /*カーソルを合わせた時に変化するボタンの色*/
    --color-shadow: #333; /*影の色*/
    --color-text-default: #333; /*普通の字の色*/
    --color-text-head: #fff; /*見出しの字の色*/
    --color-text-boxhead: #8b3a3a; /*枠内の見出しの字の色*/ 
}

html {
    font-size: 62.5%; /*1rem = 10pxにする*/
}

h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}

h3 {
    font-size: 3.2rem;
    font-family: var(--font-secondary);
    font-weight: bold;
    color: var(--color-text-head);
    margin-bottom: 1rem;
    text-shadow: 4px 4px 4px var(--color-shadow); /*見出しに陰影を追加*/
}

body {
    font-family: var(--font-body);
    margin: 0; /*要素外の余白*/
    padding: 1.6rem; /*要素の余白*/
    line-height: 1.5; /*行間指定(1.5~2.0が理想らしい)*/
    background: url("background.gif");
    background-attachment: fixed;
    animation: bgiLoop 6s linear infinite;
  }
  @keyframes bgiLoop {
      0% { background-position: 0 0;}
    100% { background-position: auto auto;}
  }


header {
    background-color: var(--color-headr);
    color: var(--color-text-head);
    text-align: center; /*文字配置*/
    margin: 0;
    padding: 1.6rem 0;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--color-shadow); /*ヘッダーの枠の影*/
    font-size: 3.2rem;
    font-family: var(--font-primary);
    letter-spacing: 2px; /*文字間隔*/
}

main {
    text-align: center;
    margin-top: 3.2rem;
}

nav a {
    display: flex; /*並列に並べる*/
    justify-content: center; /*ボタン中央揃え*/
    align-items: center; /* ボタンの高さを均一に */
    flex-wrap: nowrap; /*折り返さない*/
    width: 20rem; /* ボタンの幅 */
    height: 4.8rem; /* ボタンの高さ */
    gap: 1.6rem; /*ボタンの間隔*/
    margin: 0;
    padding: 0;
    background-color: var(--color-bottm);
    color: var(--color-text-head);
    font-size: 100%;
    white-space: nowrap;
    text-decoration: none; /*これがないと勝手に下線が引かれる*/
    border-radius: 5px; /*角を丸く*/
    transition: all 0.8s ease; /*:hoverと合わせてアニメーション*/
    box-shadow: 2px 2px 5px var(--color-shadow);
    text-align: center;
}

nav a:hover {
    background-color: var(--color-bottm-hover); /*カーソルを合わせるとこのカラーにボタンが変わる*/
    transform: scale(1.05); /*カーソルを合わせると若干拡大*/
}
/*=============================================
ここから.header, .logo, .head -> ヘッダーのクラス
==============================================*/
.header {
  display: flex;
  align-items: center;
  max-width: 1200rem; /* コンテンツ幅を制限 */
  height: 20rem;
  margin: 0 auto;
  padding: 0 20rem;
  gap: 2rem;
}

.logo img {
  height: 14rem;
  width: auto; /*アスペクト比を維持*/
  margin: 1rem;
  border: 3px solid var(--color-shadow);
  border-radius: 10px;
  object-fit: contain;
}

.head img {
  height: 10rem;
  width: auto;
  justify-content: center;
  margin: 0;
  padding: 0 4rem;
}
/*=============================================
ここまで.header, .logo, .head -> ヘッダーのクラス
==============================================*/

/*=============================================
ここからbootstrapについてのクラス
==============================================*/
#floatingVideo {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 20%;
  height: auto;
  z-index: 1050; /* 他の要素の上に表示 */
  box-shadow: 0 4px 8px var(--color-shadow);
  border-radius: 8px;
}
#floatingVideo video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  cursor: pointer;
  z-index: 1100;
}
/*=============================================
ここまでbootstrapについてのクラス
==============================================*/

/*=============================================
ここから.about-us -> 当店についてのクラス
==============================================*/
.about-us {
    background-color: var(--color-box);
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--color-shadow);
    width: 80rem;
    text-align: left;
    font-family: var(--font-body);
  }
  
  .about-us h2 {
    font-size: 2.8rem;
    color: var(--color-headr);
    margin-bottom: 1rem;
    font-family: var(--font-secondary);
  }
  
  .about-us p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--color-text-default);
    font-family: var(--font-secondary);
  }

  .about-us video{
    height: 45rem;
    width: auto;
    border-radius: 10px;
    border: 3px solid var(--color-shadow);
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
/*=============================================
ここまで.about-us -> 当店についてのクラス
==============================================*/

/*=============================================
ここから.contents, .item -> ボタンのクラス
==============================================*/
.menu-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-headr);
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 4px 4px 10px var(--color-shadow);
  max-width: 100rem;
  width: 100%;
  text-align: center;
}

.menu-intro h2 {
  font-size: 5rem;
  font-family: var(--font-primary);
  color: var(--color-text-head);
  margin: 0;
  padding: 0;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: 3rem auto;
  padding-top: 1rem;
}

.item {
  flex: 1 1 calc(25% / 4);
  padding: 2rem;
  text-align: center;
  background-color: var(--color-box);
  border-radius: 1rem;
  box-shadow: 4px 4px 10px var(--color-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-1rem); /*y軸移動*/
  box-shadow: 6px 6px 15px var(--color-shadow);
}
/*=============================================
ここまで.contents, .item -> ボタンのクラス
==============================================*/

/*=============================================
ここから.sotre-info, .map -> 店舗概要のクラス
==============================================*/
.store-info {
  background-color: var(--color-box);
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 4px 4px 10px var(--color-shadow);
  text-align: left;
  max-width: 80rem;
  font-family: var(--font-body);
}

.store-info h2 {
  font-size: 3rem;
  color: #8b3a3a;
  margin-bottom: 1rem;
  font-family: var(--font-body);
}

.store-info ul {
  list-style: none;
  padding: 0;
  font-family: var(--font-body)
}

.store-info li {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--font-body);
}

.store-info a {
  color: var(--color-text-boxhead);
  text-decoration: none;
  font-family: var(--font-body);
}

.store-info a:hover {
  text-decoration: underline;
  font-family: var(--font-body);
}

.map iframe {
  width: 100%;
  border: 0;
  margin-top: 1rem;
  border-radius: 10px;
}
/*=============================================
ここまで.sotre-info, .map -> 店舗概要のクラス
==============================================*/


/*以下、メディアクエリ*/
@media (min-width: 768px) {
    h2 {
        font-size: 48px;
    }

    nav a {
        font-size: 24px;
        padding: 15px 25px;
        width: auto;
        margin: 10px auto;
    }

    .item {
        width: calc(20% - 40px); /* 中画面では5列表示に変更 */
    }
}

@media (min-width: 1200px) {
    .item {
        width: calc(20% - 40px); /* 大画面での表示 */
    }
}
